<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utente.apparacnoid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Palette"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Connessione">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NuovaPartita" />
        <activity android:name=".Livello" />
        <activity android:name=".Risultati" />
        <activity android:name=".RisultatiFinali" />
        <activity android:name=".Validazione" />
        <activity android:name=".MenuPrincipale" />
        <activity android:name=".Regole1" />
        <activity android:name=".Regole2" />
        <activity android:name=".Regole3"></activity>
    </application>

</manifest>