<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utente.apparacnoid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Connessione">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NuovaPartita" />
        <activity android:name=".Livello" />
        <activity android:name=".Risultati" />
        <activity
            android:name=".Regole"
            android:label="@string/title_activity_regole"
            android:theme="@style/AppTheme" />
        <activity android:name=".RisultatiFinali" />
        <activity android:name=".Validazione"></activity>
    </application>

</manifest>